@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Web app */
.topBar {
    position: fixed;
    width: 100%;
    height: 50px;

    background-color: rgba(233, 233, 233, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: solid;
    border-color: #dadada;
    border-width: 0px;
    border-bottom-width: 1px;
}

.topBar p {
    display: inline-block;
}

.topBar .logo {
    padding-left: 12px;
}

.topBar .usernameBox {
    text-align: right;
    position: absolute;
    cursor: pointer;
    right: 12px;
}

.notesBar {
    position: fixed;
    width: 180px;
    bottom: 0;
    height: calc(100% - 50px - 1px);

    background-color: rgba(233, 233, 233, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: solid;
    border-color: #dadada;
    border-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.notesBar button {
    width: calc(100% - 7px - 7px - 3.5px);
    height: 35px;
    line-height: 0px;
    padding: 10px;
    margin: 7px;
    margin-bottom: 0;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;

    border: solid;
    border-color: #dadada;
    border-width: 1px;

    font-size: 15px;

    text-align: left;
}

.notesBar .selected {
    background-color: #157efb !important;
    color: white
}

.notesBar .newNote {
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(-35%);
    padding-left: 0;
    border: none;
}

.notesBar .newNote img {
    height: 200%;
    padding-right: 5px;
    transform: translateY(30%);
}

.noteBox {
    resize: none;
    position: fixed;
    right: 0;
    bottom: 0;
    border: none;
    font-size: 16px;
    width: calc(100% - 180px - 7px);
    height: calc(100% - 50px - 6px);
    font-family: "Inter", sans-serif;
}

/* Sign up/log in div */

.inoutdiv {
    margin: 10%;
    padding: 15px;
    box-shadow: 4px 4px 16px 1px grey;
}

.inoutdiv input {
    width: calc(100% - 20px);
    height: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: gray;
    border-width: 1px;
    border-radius: 8px;
}

.inoutdiv button {
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: gray;
    border-width: 1px;
    border-radius: 8px;
}

.inoutdiv a {
    color: grey;
    text-align: center;
}

.hidden {
    display: none;
}

/* main */

.mainDiv {
    text-align: center;
}
.mainDiv a {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    background-color: #157efb;
    border-radius: 8px;
}
.mainDiv .feature {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
}
.mainDiv .green {
    background-color: #ebffeb;
}
.mainDiv .yellow {
    background-color: #ffffeb;
}
.mainDiv img {
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}