<!DOCTYPE html>
<html>

<head>
    <title>PageBurger</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <meta content="Burgernotes" property="og:title" />
    <meta content="A simple note-taking app!" property="og:description" />
</head>

<body>
    <div class="mainDiv">
    <div class="startDiv">
    <h1 class="w300">PageBurger</h1>
    <p>A simple note-taking app!</p>
    <br>
    <a href="/app">Open in your browser</a>
    <br>
    <a href="/static/pageburger.mobileconfig" style="margin-top: 5px;">Download for iOS</a>
    </div>
    <br><br><br>
    <div class="feature green">
        <h7 class="w300">Secure</h7>
        <p2>All your notes are fully end-to-end encrypted. Only you can read your notes, not anyone else.</p2>
    </div>
    <div class="feature yellow">
        <h7 class="w300">Always up-to-date</h7>
        <p2>Your notes seamlessly sync across your devices.</p2>
    </div>
    </div>
    <div class="links">
        <a href="https://centrifuge.hectabit.org/hectabit/pageburger">Source code</a>
        <a href="/privacy">Privacy policy</a>
    </div>
</body>

</html>
