<!DOCTYPE html>
<html>

<head>
    <title>burgernotes</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <meta content="burgernotes" property="og:title" />
    <meta content="simple note-taking app :3" property="og:description" />
</head>

<body>
    <div class="mainDiv">
    <div class="startDiv">
    <h1 class="w300">burgernotes</h1>
    <p>simple note-taking app</p>
    <br>
    <a href="/app">open in your browser</a>
    <!--<a href="/download">download app</a>-->
    </div>
    <br><br><br>
    <div class="feature green">
        <h3 class="w300">secure</h4>
        <p>all your notes are fully end-to-end encrypted. only you can read your notes, not anyone else.</p>
    </div>
    <div class="feature yellow">
        <h3 class="w300">always up-to-date</h4>
        <p>your notes seamlessly sync across your devices.</p>
    </div>
    </div>
    <div class="links">
        <a href="https://codeberg.org/burger-software/burgernotes">source code</a>
        <a href="/privacy">privacy policy</a>
    </div>
</body>

</html>