<!DOCTYPE html>
<html>

<head>
    <title>burgernotes</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <div class="mainDiv">
    <br>
    <h1>burgernotes</h1>
    <p>minimal note taking app</p>
    <br>
    <a href="/signup">sign up</a>
    <a href="/login">log in</a>
    <br><br><br>

    <div class="feature green">
        <h4>secure</h4>
        <p>all your notes are fully end-to-end encrypted. only you can read your notes, not anyone else.</p>
    </div>
    <div class="feature yellow">
        <h4>always up-to-date</h4>
        <p>your notes automatically sync across your devices.</p>
    </div>
    </div>
</body>

</html>